<div class="page-content">
	 <div class="content-block-title">{{model.Title}}</div>
	  <div class="content-block tablet-inset">
      <div class="content-block-inner">
        <p>{{{model.HtmlDocument}}} </p>
      </div>
    </div>
</div>



