<div class="list-block media-list">
	<ul>
		<li>
			<a href="#" class="item-link">
			<div class="item-content">
				<div class="item-media avatar">
					<img src="{{model.imgsrc}}">
				</div>
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title">{{model.empName}}</div>
					</div>
					<div class="item-subtitle">{{model.empCode}}</div>
					<div class="item-text">{{model.deptName}}</div>
				</div>
			</div>
			</a>
		</li>
	</ul>
</div>
<div class="list-block">
	<ul>
		<li>
			<a href="js/personal/message.html?id=0" class="item-link">
				<div class="item-content">
					<div class="item-media"><i class="ion-ios-bell-outline color-yellow size-24"></i></div>
					<div class="item-inner">
						<div class="item-title">新消息通知</div>						 
					</div>
				</div>
			</a>
		</li>
		
		<li>
			<a href="js/work/apply.html?type=calendar" class="item-link">
				<div class="item-content">
					<div class="item-media"><i class="ion-ios-calendar-outline color-blue size-24"></i></div>
					<div class="item-inner">
						<div class="item-title">工作日历</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="js/work/apply.html?type=time" class="item-link">
				<div class="item-content">
					<div class="item-media"><i class="ion-ios-time-outline color-green size-24"></i></div>
					<div class="item-inner">
						<div class="item-title">考勤结果</div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="js/personal/payroll.html" class="item-link">
				<div class="item-content">
					<div class="item-media"><i class="ion-card color-blue size-24"></i></div>
					<div class="item-inner">
						<div class="item-title">我的薪资</div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="list-block">
  <ul>
    <li>
      <a href="#" class="item-link list-button logout-button">退出登录</a>
    </li>
   
  </ul>
</div>
