<!-- page-content has additional login-screen content -->
<div class="page-content login-screen-content">
	<div class="login-screen-title">HCM</div>
	<!-- Login form -->
	<form id="login-form">
		<div class="list-block">
			<ul>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">用户名</div>
						<div class="item-input">
							<input type="text" name="un" placeholder="Username">
						</div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title label">密码</div>
						<div class="item-input">
							<input type="password" name="pwd" placeholder="Password">
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="list-block">
			<ul>
				<li>
					<a href="#" class="item-link list-button login">登录</a>
				</li>
			</ul>
			<div class="list-block-label">
				<p>使用本系统前，请设置服务器地址.</p>
				<p>
					<a href="#" class="server-url-setting">设置</a>
				</p>
			</div>

		</div>
	</form>
</div>