<ul>
	{{#.}}
	<li>
		<a href="js/work/apply.html?id={{Fid}}&&type=myapply" class="item-link">
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title">{{TypeName}} </div>
				</div>
			</div>
		</a>
	</li>
	{{/.}}
</ul>